<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6680e0d0-e5d6-405c-a517-0e96f3a2fbfc" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://ame-soa-vap.arthrex.local" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6680e0d0-e5d6-405c-a517-0e96f3a2fbfcfileName">http%3A%2F%2Fame-soa-vap.arthrex.local</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://ame-soa-vap.arthrex.local</con:endpoint></con:endpoints></con:interface>